<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pay.dao.EntranceDao" >
  <resultMap id="BaseResultMap" type="com.pay.pojo.Entrance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Code" property="code" jdbcType="VARCHAR" />
    <result column="urlajax" property="urlajax" jdbcType="VARCHAR" />
    <result column="namename" property="namename" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, Code, urlajax, namename, status, tel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pay_entrance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pay_entrance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pay.pojo.Entrance" >
    insert into pay_entrance (id, Code, urlajax, 
      namename, status, tel
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{urlajax,jdbcType=VARCHAR}, 
      #{namename,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pay.pojo.Entrance" >
    insert into pay_entrance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        Code,
      </if>
      <if test="urlajax != null" >
        urlajax,
      </if>
      <if test="namename != null" >
        namename,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="tel != null" >
        tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="urlajax != null" >
        #{urlajax,jdbcType=VARCHAR},
      </if>
      <if test="namename != null" >
        #{namename,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pay.pojo.Entrance" >
    update pay_entrance
    <set >
      <if test="code != null" >
        Code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="urlajax != null" >
        urlajax = #{urlajax,jdbcType=VARCHAR},
      </if>
      <if test="namename != null" >
        namename = #{namename,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pay.pojo.Entrance" >
    update pay_entrance
    set Code = #{code,jdbcType=VARCHAR},
      urlajax = #{urlajax,jdbcType=VARCHAR},
      namename = #{namename,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>